bash/config.default
bash/subnets.list
bash/tempConfig/
bash/result/
bash/log/
golang/CFScanner
windows/*.rsuser
windows/*.suo
windows/*.user
windows/*.userosscache
windows/*.sln.docstates
windows/*.userprefs
windows/mono_crash.*
windows/[Dd]ebug/
windows/[Dd]ebugPublic/
windows/[Rr]elease/
windows/[Rr]eleases/
windows/x64/
windows/x86/
windows/[Ww][Ii][Nn]32/
windows/[Aa][Rr][Mm]/
windows/[Aa][Rr][Mm]64/
windows/bld/
windows/[Bb]in/
windows/[Oo]bj/
windows/[Oo]ut/
windows/[Ll]og/
windows/[Ll]ogs/
windows/.vs/
windows/Generated\ Files/
windows/[Tt]est[Rr]esult*/
windows/[Bb]uild[Ll]og.*
windows/*.VisualState.xml
windows/TestResult.xml
windows/nunit-*.xml
windows/[Dd]ebugPS/
windows/[Rr]eleasePS/
windows/dlldata.c
windows/BenchmarkDotNet.Artifacts/
windows/project.lock.json
windows/project.fragment.lock.json
windows/artifacts/
windows/ScaffoldingReadMe.txt
windows/StyleCopReport.xml
windows/*_i.c
windows/*_p.c
windows/*_h.h
windows/*.ilk
windows/*.meta
windows/*.obj
windows/*.iobj
windows/*.pch
windows/*.pdb
windows/*.ipdb
windows/*.pgc
windows/*.pgd
windows/*.rsp
windows/*.sbr
windows/*.tlb
windows/*.tli
windows/*.tlh
windows/*.tmp
windows/*.tmp_proj
windows/*_wpftmp.csproj
windows/*.log
windows/*.vspscc
windows/*.vssscc
windows/.builds
windows/*.pidb
windows/*.svclog
windows/*.scc
windows/_Chutzpah*
windows/ipch/
windows/*.aps
windows/*.ncb
windows/*.opendb
windows/*.opensdf
windows/*.sdf
windows/*.cachefile
windows/*.VC.db
windows/*.VC.VC.opendb
windows/*.psess
windows/*.vsp
windows/*.vspx
windows/*.sap
windows/*.e2e
windows/$tf/
windows/*.gpState
windows/_ReSharper*/
windows/*.[Rr]e[Ss]harper
windows/*.DotSettings.user
windows/_TeamCity*
windows/*.dotCover
windows/.axoCover/*
windows/!.axoCover/settings.json
windows/coverage*.json
windows/coverage*.xml
windows/coverage*.info
windows/*.coverage
windows/*.coveragexml
windows/_NCrunch_*
windows/.*crunch*.local.xml
windows/nCrunchTemp_*
windows/*.mm.*
windows/AutoTest.Net/
windows/.sass-cache/
windows/[Ee]xpress/
windows/DocProject/buildhelp/
windows/DocProject/Help/*.HxT
windows/DocProject/Help/*.HxC
windows/DocProject/Help/*.hhc
windows/DocProject/Help/*.hhk
windows/DocProject/Help/*.hhp
windows/DocProject/Help/Html2
windows/DocProject/Help/html
windows/publish/
windows/*.[Pp]ublish.xml
windows/*.azurePubxml
windows/*.pubxml
windows/*.publishproj
windows/PublishScripts/
windows/*.nupkg
windows/*.snupkg
windows/**/[Pp]ackages/*
windows/!**/[Pp]ackages/build/
windows/*.nuget.props
windows/*.nuget.targets
windows/csx/
windows/*.build.csdef
windows/ecf/
windows/rcf/
windows/AppPackages/
windows/BundleArtifacts/
windows/Package.StoreAssociation.xml
windows/_pkginfo.txt
windows/*.appx
windows/*.appxbundle
windows/*.appxupload
windows/*.[Cc]ache
windows/!?*.[Cc]ache/
windows/ClientBin/
windows/~$*
windows/*~
windows/*.dbmdl
windows/*.dbproj.schemaview
windows/*.jfm
windows/*.pfx
windows/*.publishsettings
windows/orleans.codegen.cs
windows/Generated_Code/
windows/_UpgradeReport_Files/
windows/Backup*/
windows/UpgradeLog*.XML
windows/UpgradeLog*.htm
windows/ServiceFabricBackup/
windows/*.rptproj.bak
windows/*.mdf
windows/*.ldf
windows/*.ndf
windows/*.rdl.data
windows/*.bim.layout
windows/*.bim_*.settings
windows/*.rptproj.rsuser
windows/*- [Bb]ackup.rdl
windows/*- [Bb]ackup ([0-9]).rdl
windows/*- [Bb]ackup ([0-9][0-9]).rdl
windows/FakesAssemblies/
windows/*.GhostDoc.xml
windows/.ntvs_analysis.dat
windows/node_modules/
windows/*.plg
windows/*.opt
windows/*.vbw
windows/**/*.HTMLClient/GeneratedArtifacts
windows/**/*.DesktopClient/GeneratedArtifacts
windows/**/*.DesktopClient/ModelManifest.xml
windows/**/*.Server/GeneratedArtifacts
windows/**/*.Server/ModelManifest.xml
windows/_Pvt_Extensions
windows/.paket/paket.exe
windows/paket-files/
windows/.fake/
windows/.cr/personal
windows/__pycache__/
windows/*.pyc
windows/*.tss
windows/*.jmconfig
windows/*.btp.cs
windows/*.btm.cs
windows/*.odx.cs
windows/*.xsd.cs
windows/OpenCover/
windows/ASALocalRun/
windows/*.binlog
windows/*.nvuser
windows/.mfractor/
windows/.localhistory/
windows/healthchecksdb
windows/MigrationBackup/
windows/.ionide/
windows/FodyWeavers.xsd
