[Unit]
Description=My test service
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /opt/cfapi/api.py

[Install]
WantedBy=multi-user.target
